---
import BaseLayouts from "../layouts/BaseLayouts.astro";
const pageTitle = "About Page";
const skills = ["HTML", "CSS", "JavaScript"];
---

<BaseLayouts pageTitle={pageTitle}>
    <p>My Skills</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayouts>
